<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JEOSOOJI</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b50b4f49e5237883c18078faad157119&libraries=services,clusterer,drawing"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <%- include('./partials/navbarTop') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div id="map" style="width: 100%; height: 100vh"></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="card bg-primary text-white mb-2 mt-2" style="width: 150px">
                  <div class="card-body">수위 경보</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">1</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card bg-warning text-white mb-2 mt-2" style="width: 150px">
                  <div class="card-body">수문 열림</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">2</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card bg-success text-white mb-2 mt-2" style="width: 150px">
                  <div class="card-body">배터리 경보</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">3</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card bg-danger text-white mb-2 mt-2" style="width: 150px">
                  <div class="card-body">액츄에이터 경보</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <div class="small text-white">4</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="btn-group mb-1" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="1" checked />
                <label class="btn btn-outline-primary" for="btnradio1">상세정보</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="2" />
                <label class="btn btn-outline-primary" for="btnradio2">그래프</label>
              </div>
              <form class="d-flex" role="search">
                <input class="form-control me-2 ms-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-primary me-2">Search</button>
              </form>
            </div>
            <div id="board"><%-include('./partials/reservoirDetails')%></div>
          </div>
        </div>
      </div>
    </div>

    <style>
      .navbar {
        margin: 0;
      }

      .container-fluid {
        padding: 0;
      }

      .col-md-8 {
        padding: 0;
      }

      .col {
        padding: 0;
      }
    </style>

    <script>
      const feeds = <%- JSON.stringify(feeds) %>;
      const locations = <%- JSON.stringify(locations) %>;

      let container = document.getElementById("map");
      let options = {
        center: new kakao.maps.LatLng(35.7, 128),
        level: 12,
      };
      let map = new kakao.maps.Map(container, options);
      let mapTypeControl = new kakao.maps.MapTypeControl();
      map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
      let zoomControl = new kakao.maps.ZoomControl();
      map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

      let geocoder = new kakao.maps.services.Geocoder();

      for (let i = 0; i < locations.length; i++) {
        let iwContent = '<div style="padding:5px;">' + locations[i].name + '</div>';

        geocoder.addressSearch(locations[i].address, createMarkerCallback(iwContent, i));

        function createMarkerCallback(content, locationIndex) {
          return function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
              let coords = new kakao.maps.LatLng(result[0].y, result[0].x);

              let marker = new kakao.maps.Marker({
                map: map,
                position: coords,
              });

              kakao.maps.event.addListener(marker, 'mouseover', function() {

                infowindow.setContent(content);
                infowindow.open(map, marker);
              });

              kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
              });

              kakao.maps.event.addListener(marker, 'click', function() {
                window.open(`/location/${locations[locationIndex]._id}`, '_blank', 'width=600,height=300, top=' + (window.innerHeight - 500) / 2 + ', left=' + (window.innerWidth - 500) / 2);
              });
            }
          };
        }
      }

      let infowindow = new kakao.maps.InfoWindow({
        content: iwContent
      });

      function updateBoardContent() {
        var selectedRadio = document.querySelector(
          'input[name="btnradio"]:checked'
        ).value;
        var boardDiv = document.getElementById("board");

        boardDiv.innerHTML = "";

        switch (selectedRadio) {
          case "1":
            boardDiv.innerHTML = `<%- include('./partials/reservoirDetails') %>`;
            break;
          case "2":
            boardDiv.innerHTML = `<%- include('./partials/reservoirGraph') %>`;
            break;
          default:
            boardDiv.innerHTML = `<%- include('./partials/reservoirDetails') %>`;
            break;
        }
      }

      var radioButtons = document.querySelectorAll('input[name="btnradio"]');
      radioButtons.forEach(function (radio) {
        radio.addEventListener("change", updateBoardContent);
      });

      updateBoardContent();
    </script>
  </body>
</html>
