<!--
Description : Display current reservoirs data and add, edit, save, delete, update avaliable
https://getbootstrap.kr/docs/5.3/forms/layout/
- form grid
https://getbootstrap.kr/docs/5.3/components/card/
- card body

TODO:
- DB -> table 불러오기
- DB -> 저수지 table 불러오기
- bootstrap: table pagenation
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JEOSOOJI</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b50b4f49e5237883c18078faad157119&libraries=services,clusterer,drawing"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <nav><%- include('./partials/navbarTop') %></nav>

    <main>
      <div class="container-fluid">
        <div class="card" style="margin-top: 15px">
          <div class="card-body">
            <h1>저수지 및 장비 정보 추가</h1>
            <form action="/reservoirData" method="post">
              <div>
                <button class="btn btn-primary">추가</button>
              </div>
              <!-- <button type="button" class="btn btn-secondary" name="update">수정</button>
              <button type="button" class="btn btn-danger" name="delete">삭제</button> -->

              <!--INPUTS-->
              <!--
            rsv: resorvoid
            lvl: water level
            valQuan: valid Quantity
            senseP: sensing Pressure
            senseC: sensing Correction
            lvlC: water level Correction
            actu: actuator
            -->
              <div class="row" style="margin-top: 15px">
                <div class="col">
                  <label class="form-label" for="name">지점이름</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="지점이름을 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="manageId">관리번호</label>
                  <input type="text" class="form-control" id="manageId" name="manageId" placeholder="관리번호를 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="address">주소</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="주소를 입력하세요" onclick="execDaumPostcode()" required />
                </div>
                <div class="col">
                  <label class="form-label" for="rsvType">제어</label>
                  <select type="text" class="form-select" id="rsvType" name="rsvType">
                    <option value="0">수위 모니터링</option>
                    <option value="1">수문 제어</option>
                  </select>
                </div>
              </div>

              <div class="row" style="margin-top: 15px">
                <div class="col">
                  <label class="form-label" for="lvlDead">사수위(m)</label>
                  <input type="text" class="form-control" id="lvlDead" name="lvlDead" placeholder="사수위를 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="lvlHigh">만수위(m)</label>
                  <input type="text" class="form-control" id="lvlHigh" name="lvlHigh" placeholder="만수위를 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="lvlFlood">홍수위(m)</label>
                  <input type="text" class="form-control" id="lvlFlood" name="lvlFlood" placeholder="홍수위를 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="height">제방높이(m)</label>
                  <input type="text" class="form-control" id="height" name="height" placeholder="제방높이를 입력하세요" required />
                </div>
              </div>

              <div class="row" style="margin-top: 15px">
                <div class="col">
                  <label class="form-label" for="valQuan">유효저수량(㎥)</label>
                  <input type="text" class="form-control" id="valQuan" name="valQuan" placeholder="유효저수량을 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="senseP">센싱압력(Kgf/㎠)</label>
                  <input type="text" class="form-control" id="senseP" name="senseP" placeholder="센싱 압력 최대값을 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="senseC">센싱보정(Kgf/㎠)</label>
                  <input type="text" class="form-control" id="senseC" name="senseC" placeholder="센싱 보정값을 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="lvlC">수위보정(m)</label>
                  <input type="text" class="form-control" id="lvlC" name="lvlC" placeholder="수위 보정값을 입력하세요" required />
                </div>
              </div>

              <div class="row" style="margin-top: 15px">
                <div class="col">
                  <label class="form-label" for="incharge">관할</label>
                  <input type="text" class="form-control" id="incharge" name="incharge" placeholder="관할을 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="MAC">장비MAC</label>
                  <input type="text" class="form-control" id="MAC" name="MAC" placeholder="장비MAC 12자리를 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="phone">전화번호</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="전화번호를 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="commInterver">통신주기</label>
                  <input type="text" class="form-control" id="commInterver" name="commInterver" placeholder="1분 단위로 입력하세요" required />
                </div>
              </div>

              <div class="row" style="margin-top: 15px">
                <div class="col">
                  <label class="form-label" for="actuWait">경보대기</label>
                  <input type="text" class="form-control" id="actuWait" name="actuWait" placeholder="Actuator 경보 대기시간(초)을 입력하세요" required />
                </div>
                <div class="col">
                  <label class="form-label" for="actuTime">경보유지</label>
                  <input type="text" class="form-control" id="actuTime" name="actuTime" placeholder="Actuator 경보 유지시간(초)을 입력하세요" required />
                </div>
              </div>
            </form>

            <!--TABLE-->
            <div class="table-responsive mt-2">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">선택</th>
                    <th scope="col">번호</th>

                    <th scope="col">지점이름</th>
                    <th scope="col">관리번호</th>
                    <th scope="col">주소</th>
                    <th scope="col">제어</th>

                    <th scope="col">사수위(m)</th>
                    <th scope="col">만수위(m)</th>
                    <th scope="col">홍수위(m)</th>
                    <th scope="col">제방높이(m)</th>

                    <th scope="col">유효저수량(㎥)</th>
                    <th scope="col">센싱압력(Kgf/㎠)</th>
                    <th scope="col">센싱보정(Kgf/㎠)</th>
                    <th scope="col">수위보정(m)</th>

                    <th scope="col">관할</th>
                    <th scope="col">장비MAC</th>
                    <th scope="col">전화번호</th>
                    <th scope="col">통신주기</th>

                    <th scope="col">통신시간</th>
                    <th scope="col">경보대기</th>
                    <th scope="col">등록일</th>
                  </tr>
                </thead>
                <tbody>
                  <% reservoirData.forEach(function(reservoir) { %>
                  <tr>
                    <td><%= reservoir.name %></td>
                    <td><%= reservoir.manageId %></td>
                    <td><%= reservoir.address %></td>
                    <td><%= reservoir.rsvType %></td>
                    <td><%= reservoir.lvlDead %></td>
                    <td><%= reservoir.lvlHigh %></td>
                    <td><%= reservoir.lvlFlood %></td>
                    <td><%= reservoir.height %></td>
                    <td><%= reservoir.valQuan %></td>
                    <td><%= reservoir.senseP %></td>
                    <td><%= reservoir.senseC %></td>
                    <td><%= reservoir.lvlC %></td>
                    <td><%= reservoir.incharge %></td>
                    <td><%= reservoir.MAC %></td>
                    <td><%= reservoir.phone %></td>
                    <td><%= reservoir.commInterver %></td>
                    <td><%= reservoir.actuWait %></td>
                    <td><%= reservoir.actuTime %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      function execDaumPostcode() {
        new daum.Postcode({
          oncomplete: function (data) {
            document.getElementById("address").value = data.address;
          },
        }).open();
      }
    </script>
  </body>
</html>
